<%
use Digest::MD5 qw(md5_hex);
use Render;
use MongoDB;

my ($thread,$client) = @_;
my $db = $client->get_database('fujiwara');
%>

<html>
  <head>
    <meta charset="utf8"/>
    <link rel="stylesheet" type="text/css" href="css/s.css" />
    <script src="js/less-1.7.0.min.js" type="text/javascript"></script>
    <title><%== $thread->{title} %> -- Truth Avaliable</title>
  </head>
  <body>
    <nav id="navbar" class="navbar">
      <div id="navbar-left">
        <a id="navbar-brand">
          Truth Avaliable
        </a>

        <ul class="navbar-links">
          <li><a href="#">Index</a></li>
          <li><a href="#">Categories</a></li>
          <li><a href="#">Tags</a></li>
        </ul>
      </div>

      <div id="navbar-right">
        <ul class="navbar-links">
          <li><a href="javascript:;">New</a></li>
          <li class="nav-dropdown">
            <a href="javascript:;" class="nav-dropdown-link">ExampleUser</a>
            <ul class="nav-dropdown-menu">
              <li><a href="javascript:;">User Center</a></li>
              <li class="nav-dropdown-sep"></li>
              <li><a href="javascript:;">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <%
    my $ucoll = $db->get_collection('users');
    my $tauthor = $ucoll->find({_id => $thread->{author}})->next;
    %>
    
    <div class="header" id="header">
      <h1><%== $thread->{title} %></h1><span>on <%== $thread->{datetime}->ymd("/") %> by <%== $tauthor->{name} %></span>
    </div>

    <%
    my $pcoll = $db->get_collection('posts');
    my @posts = $pcoll->find({th => $thread->{_id}})->sort({datetime => 1})->all;
    %>

    <% my $floor = 0; %>
    <div class="posts" id="posts">
      % for (@posts) {
      <%
      my $post = $_;
      $floor++;
      my $pauthor = $ucoll->find({_id => $post->{author}})->next;
      %>
      <div class="post">
        <div class="author">
          <div class="avatar">
	    % my $email = $pauthor->{email};$email =~ s/^\s+|\s+$//g;
            <img src="http://www.gravatar.com/avatar/<%== md5_hex(lc($email)) %>?size=140"/>
          </div>

          <span><%== $pauthor->{name} %></span>
        </div>

        <div class="post-body">
          <div class="body-header">
            <div class="info">
              <span>No.<%== $floor %> </span><span>posted on <%== $post->{datetime}->strftime("%Y/%m/%d %H:%M:%S") %></span>
            </div>
            <ul class="post-ops">
              <li><a href="javascript:;">Reply</a></li>
            </ul>
          </div>
        
          <div class="post-content">
	    <%= Render::render($post) %>
          </div>
        </div>
      </div>
      % }
    </div>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/nav-dropdown.js"></script>
  </body>
</html>
        
