<%
use Data::Post;
use Data::User;

use ConfigFile;

my($req,$res,$category,$threads,$pn) = @_;
my $cat = $category->{category};
my $subcat = $category->{subcategory};

my $ucookie = $req->get_cookie('userinfo');
my $uid;
my $user;
if ($ucookie) {
    $uid = Data::User->decode_cookie($ucookie);
    $user = Data::User->by_id($uid) if($uid);
}
%>

<html>
  <head>
    <meta charset="utf8"/>
    <link rel="stylesheet" type="text/css" href="/css/s.css" />
    <title><%== "$cat/$subcat" %> -- <%== getcfg 'site_title' %></title>
  </head>
  <body>
    <nav id="navbar" class="navbar">
      <div id="navbar-left">
        <a id="navbar-brand">
          <%== getcfg 'site_title' %>
        </a>

        <ul class="navbar-links">
          <li><a href="/">Index</a></li>
          <li><a href="/categories">Categories</a></li>
          <li><a href="#">Tags</a></li>
        </ul>
      </div>

      <div id="navbar-right">
        <ul class="navbar-links">
	  % if ($user) {
          <li><a href="/new">New</a></li>
          <li class="nav-dropdown">	    
            <a href="javascript:;" class="nav-dropdown-link"><%== $user->{name} %></a>
            <ul class="nav-dropdown-menu">
              <li><a href="javascript:;">User Center</a></li>
              <li class="nav-dropdown-sep"></li>
              <li><a href="/logout" data-no-instant>Logout</a></li>
            </ul>
          </li>
	  % } else {
	  <li><a href="/login">Login</a></li>
	  <li><a href="javascript:;">Register</a></li>
	  % }
        </ul>
      </div>
    </nav>
    
    <div class="header" id="header">
      <h1><%== "$cat/$subcat" %></h1><span><%== getcfg 'site_subtitle' %></span>
    </div>    
    
    <div class="container">
      % if ($threads->has_prev or $threads->has_next) {
      <ul class="pager">
	% if ($threads->has_prev) {
	<li><a href="/index/<%= $pn - 1 %>">&lt;Prev</a></li>
	% }
	% if ($threads->has_next) {
	<li><a href="/index/<%= $pn + 1 %>">Next&gt;</a></li>
	% }
      </ul>
      % }
    
      <ul class="entry-list">
	% for my $th (@{$threads->all}) {
	<%
	my $author = $th->author;
	my $last = $th->posts->last;
	my $lauthor = $last->author;
	%>
	<li><div class="entry">
	  <h1><a href="/thread/view/<%= $th->{id} %>"><%== $th->{title} %></a></h1>
	  <h3><a><%== "$th->{category}/$th->{subcategory}" %></a></h3>
	  <span class="info-span info-span-left">Published by <%== $author->{name} %> on <%== $th->{datetime}->strftime("%Y/%m/%d %H:%M:%S") %></span>
	  <span class="info-span info-span-right">Last Replied by <%== $lauthor->{name} %> on <%== $last->{datetime}->strftime("%Y/%m/%d %H:%M:%S") %></span>
	</div></li>
	% }
      </ul>
      
      % if ($threads->has_prev or $threads->has_next) {
      <ul class="pager">
	% if ($threads->has_prev) {
	<li><a href="/index/<%= $pn - 1 %>">&lt;Prev</a></li>
	% }
	% if ($threads->has_next) {
	<li><a href="/index/<%= $pn + 1 %>">Next&gt;</a></li>
	% }
      </ul>
      % }
    </div>

    <h3 style="display:none;position:fixed;bottom:0;right:0;color:#333;" id="load-notify">Loading...</h3>
    
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/instantclick/3.0.1/instantclick.min.js"></script>
    <script>
     InstantClick.init(50);
    </script>
    <script src="/js/nav-dropdown.js"></script>
  </body>
</html>
