<%
use Data::Categories;

my $categories = Data::Categories->all_dict;

use ConfigFile;

my $req = shift;

my $ucookie = $req->get_cookie('userinfo');
my $uid;
my $user;
if ($ucookie) {
    $uid = Data::User->decode_cookie($ucookie);
    $user = Data::User->by_id($uid) if($uid);
}
%>

<html>
  <head>
    <meta charset="utf8"/>
    <link rel="stylesheet" type="text/css" href="/css/s.css" />
    <title>Index -- <%== getcfg 'site_title' %></title>
  </head>
  <body>
    <nav id="navbar" class="navbar">
      <div id="navbar-left">
        <a id="navbar-brand">
          <%== getcfg 'site_title' %>
        </a>

        <ul class="navbar-links">
          <li><a href="/">Index</a></li>
          <li><a href="/categories">Categories</a></li>
          <li><a href="javascript:;">Tags</a></li>
        </ul>
      </div>

      <div id="navbar-right">
        <ul class="navbar-links">
	  % if ($user) {
          <li><a href="/new">New</a></li>
          <li class="nav-dropdown">	    
            <a href="javascript:;" class="nav-dropdown-link"><%== $user->{name} %></a>
            <ul class="nav-dropdown-menu">
              <li><a href="javascript:;">User Center</a></li>
              <li class="nav-dropdown-sep"></li>
              <li><a href="/logout" data-no-instant>Logout</a></li>
            </ul>
          </li>
	  % } else {
	  <li><a href="/login">Login</a></li>
	  <li><a href="/reg">Register</a></li>
	  % }
        </ul>
      </div>
    </nav>
    
    <div class="header" id="header">
      <h1><%== getcfg 'site_title' %></h1><span><%== getcfg 'site_subtitle' %></span>
    </div>    
    
    <div class="container" style="width:600px;margin:auto;">
      <ul type="none">
	% for my $category (keys %$categories) {
	<li><h1><%== $category %></h1></li>
	<ul type="none">
	  % for my $val (@{$categories->{$category}}) {
	  % my($subcat,$cid) = @{$val};
	  <li><h3><a class="link" href="/category/<%== $cid %>/1"><%== $subcat %></a></h3></li>
	  % }
	</ul>
	% }
      </ul>
    </div>

    <h3 style="display:none;position:fixed;bottom:0;right:0;color:#333;" id="load-notify">Loading...</h3>
    
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/instantclick/3.0.1/instantclick.min.js"></script>
    <script>
     InstantClick.init(50);
    </script>
    <script src="/js/nav-dropdown.js"></script>
  </body>
</html>
