<%
use Digest::MD5 qw(md5_hex);
use Render;
use MongoDB;
use boolean;

use Data::Post;
use Data::User;

my($req,$res,$threads,$pn) = @_;

my $ucookie = $req->get_cookie('userinfo');
my $uid;
my $user;
if ($ucookie) {
    $uid = Data::User->decode_cookie($ucookie);
    $user = Data::User->by_id($uid);
}
%>

<html>
  <head>
    <meta charset="utf8"/>
    <link rel="stylesheet" type="text/css" href="/css/s.css" />
    <title>Index -- Truth Avaliable</title>
  </head>
  <body>
    <nav id="navbar" class="navbar">
      <div id="navbar-left">
        <a id="navbar-brand">
          Truth Avaliable
        </a>

        <ul class="navbar-links">
          <li><a href="/">Index</a></li>
          <li><a href="#">Categories</a></li>
          <li><a href="#">Tags</a></li>
        </ul>
      </div>

      <div id="navbar-right">
        <ul class="navbar-links">
	  % if ($user) {
          <li><a href="javascript:;">New</a></li>
          <li class="nav-dropdown">	    
            <a href="javascript:;" class="nav-dropdown-link"><%== $user->{name} %></a>
            <ul class="nav-dropdown-menu">
              <li><a href="javascript:;">User Center</a></li>
              <li class="nav-dropdown-sep"></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
	  % } else {
	  <li><a href="/login">Login</a></li>
	  <li><a href="javascript:;">Register</a></li>
	  % }
        </ul>
      </div>
    </nav>
    
    <div class="header" id="header">
      <h1>Truth Avaliable</h1><span>It's running BACKWARD!</span>
    </div>    
    
    <div class="container">
      % if ($threads->has_prev or $threads->has_next) {
      <ul class="pager">
	% if ($threads->has_prev) {
	<li><a href="/index/<%= $pn - 1 %>">&lt;Prev</a></li>
	% }
	% if ($threads->has_next) {
	<li><a href="/index/<%= $pn + 1 %>">Next&gt;</a></li>
	% }
      </ul>
      % }
    
      <ul class="entry-list">
	% for my $th (@{$threads->all}) {
	<%
	my $author = $th->author;
	my $last = $th->posts->last;
	my $lauthor = $last->author;
	%>
	<li><div class="entry">
	  <h1><a href="/thread/view/<%= $th->{id} %>"><%== $th->{title} %></a></h1>
	  <span class="info-span info-span-left">Published by <%== $author->{name} %> on <%== $th->{datetime}->strftime("%Y/%m/%d %H:%M:%S") %></span>
	  <span class="info-span info-span-right">Last Replied by <%== $lauthor->{name} %> on <%== $last->{datetime}->strftime("%Y/%m/%d %H:%M:%S") %></span>
	</div></li>
	% }
      </ul>
      
      % if ($threads->has_prev or $threads->has_next) {
      <ul class="pager">
	% if ($threads->has_prev) {
	<li><a href="/index/<%= $pn - 1 %>">&lt;Prev</a></li>
	% }
	% if ($threads->has_next) {
	<li><a href="/index/<%= $pn + 1 %>">Next&gt;</a></li>
	% }
      </ul>
      % }
    </div>
    
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/nav-dropdown.js"></script>
  </body>
</html>
