<%
use Digest::MD5 qw(md5_hex);
use Render;
use Data::User;
use ConfigFile;

my ($req,$res,$th,$posts,$pn) = @_;

my $ucookie = $req->get_cookie('userinfo');
my $uid;
my $user;
if ($ucookie) {
    $uid = Data::User->decode_cookie($ucookie);
    $user = Data::User->by_id($uid) if($uid);
}
%>

<html>
  <head>
    <meta charset="utf8"/>
    <link rel="stylesheet" type="text/css" href="/css/s.css" />
    <title><%== $th->{title} %> -- <%== getcfg 'site_title' %></title>
  </head>
  <body>
    <nav id="navbar" class="navbar">
      <div id="navbar-left">
        <a id="navbar-brand">
          <%== getcfg 'site_title' %>
        </a>

        <ul class="navbar-links">
          <li><a href="/" data-instant>Index</a></li>
          <li><a href="#">Categories</a></li>
          <li><a href="#">Tags</a></li>
        </ul>
      </div>

      <div id="navbar-right">
        <ul class="navbar-links">
	  % if ($user) {
          <li><a href="javascript:;">New</a></li>
          <li class="nav-dropdown">	    
            <a href="javascript:;" class="nav-dropdown-link"><%== $user->{name} %></a>
            <ul class="nav-dropdown-menu">
              <li><a href="javascript:;">User Center</a></li>
              <li class="nav-dropdown-sep"></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
	  % } else {
	  <li><a href="/login" data-instant>Login</a></li>
	  <li><a href="javascript:;">Register</a></li>
	  % }
        </ul>
      </div>
    </nav>

    <div class="header" id="header">
      <h1 id="title"><%== $th->{title} %></h1>
      <h3><%== "$th->{category}/$th->{subcategory}" %></h3>
      <span>on <%== $th->{datetime}->ymd("/") %> by <%== $th->author->{name} %></span>
    </div>
    
    % if ($posts->has_prev or $posts->has_next) {
    <ul class="pager">
      % if ($posts->has_prev) {
      <li><a href="/thread/view/<%= $th->{id} %>/<%= $pn - 1 %>">&lt;Prev</a></li>
      % }
      % if ($posts->has_next) {
      <li><a href="/thread/view/<%= $th->{id} %>/<%= $pn + 1 %>">Next&gt;</a></li>
      % }
    </ul>
    % }

    <% my $floor = ($pn - 1) * 30; %>
    <div class="posts" id="posts">
      % for my $post (@{$posts->all}) {
      % $floor++;
      <div class="post">
        <div class="author">
          <div class="avatar">
	    % my $author = $post->author;
	    % my $email = $author->{email};$email =~ s/^\s+|\s+$//g;
            <img src="http://www.gravatar.com/avatar/<%== md5_hex(lc($email)) %>?size=140&default=identicon"/>
          </div>

          <span><%== $author->{name} %></span>
        </div>

        <div class="post-body">
          <div class="body-header">
            <div class="info">
              <span>No.<%== $floor %> </span><span>posted on <%== $post->{datetime}->strftime("%Y/%m/%d %H:%M:%S") %></span>
            </div>
            <ul class="post-ops">
              <li><a href="javascript:;" onclick='createReply("<%== $floor %>","<%== $author->{id} %>")' class="reply-button">Reply</a></li>
            </ul>
          </div>
        
          <div class="post-content">
	    <%= Render::render($post) %>
          </div>
        </div>
      </div>
      % }
      % if ($posts->has_prev or $posts->has_next) {
      <ul class="pager">
	% if ($posts->has_prev) {
	<li><a href="/thread/view/<%= $th->{id} %>/<%= $pn - 1 %>">&lt;Prev</a></li>
	% }
	% if ($posts->has_next) {
	<li><a href="/thread/view/<%= $th->{id} %>/<%= $pn + 1 %>">Next&gt;</a></li>
	% }
      </ul>
    % }
    </div>

    % if ($user) {
    <div class="reply_area">
      <form action="/post/new" method="POST">
	<div class="form-control-group">
	  <textarea name="content" id="reply-area" style="display:block;width:100%;font-size:18px;" rows="7" placeholder="Enter your reply here"></textarea>
	</div>
	<input type="hidden" name="th" value="<%== $th->{id} %>" />
	<input type="hidden" name="replyto" id="replyto" value="<%== $th->author->{id} %>" />
	<input type="submit" value="Reply">
      </form>
    </div>
    % }

    <h3 style="display:none;position:fixed;bottom:0;right:0;color:#333;" id="save-notify">Saving...</h3>
    <h3 style="display:none;position:fixed;bottom:0;right:0;color:#333;" id="load-notify">Loading...</h3>

    <script type="text/javascript">
     window.MathJax = {
       tex2jax: {
	 inlineMath: [ ['$','$'], ["\\(","\\)"] ],
	 processEscapes: true
       }
     };
    </script>
    
    <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    % if ($user and (($th->author->{id} eq $user->{id}) or $user->{jobs}{admin})) {
    <script src="/js/edit-thread.js"></script>
    % }
    <script>
     window.tid = "<%== $th->{id} %>";
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/instantclick/3.0.1/instantclick.min.js"></script>
    <script>
     InstantClick.init(50,true);
    </script>
    <script src="/js/nav-dropdown.js"></script>
    <script src="/js/create-reply.js"></script>
    <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">
    <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
  </body>
</html>
        
