<%
use Digest::MD5 qw(md5_hex);
use Render;
use MongoDB;

my ($db,$thread,$posts,$pn,$post_count) = @_;
my @posts = @$posts;
%>

<%
my $has_prev = 0;
my $has_next = 0;

$has_prev = 1 if (($post_count > 30) && ($pn > 1));
$has_next = 1 if (($pn * 30) < $post_count);
%>

<html>
  <head>
    <meta charset="utf8"/>
    <link rel="stylesheet" type="text/css" href="/css/s.css" />
    <title><%== $thread->{title} %> -- Truth Avaliable</title>
  </head>
  <body>
    <nav id="navbar" class="navbar">
      <div id="navbar-left">
        <a id="navbar-brand">
          Truth Avaliable
        </a>

        <ul class="navbar-links">
          <li><a href="/">Index</a></li>
          <li><a href="#">Categories</a></li>
          <li><a href="#">Tags</a></li>
        </ul>
      </div>

      <div id="navbar-right">
        <ul class="navbar-links">
          <li><a href="javascript:;">New</a></li>
          <li class="nav-dropdown">
            <a href="javascript:;" class="nav-dropdown-link">ExampleUser</a>
            <ul class="nav-dropdown-menu">
              <li><a href="javascript:;">User Center</a></li>
              <li class="nav-dropdown-sep"></li>
              <li><a href="javascript:;">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <%
    my $ucoll = $db->get_collection('users');
    my $tauthor = $ucoll->find({_id => $thread->{author}})->next;
    %>
    
    <div class="header" id="header">
      <h1><%== $thread->{title} %></h1><span>on <%== $thread->{datetime}->ymd("/") %> by <%== $tauthor->{name} %></span>
    </div>
    
    % if ($has_prev or $has_next) {
    <ul class="pager">
      % if ($has_prev) {
      <li><a href="/thread/view/<%= $thread->{_id} %>/<%= $pn - 1 %>">&lt;Prev</a></li>
      % }
      % if ($has_next) {
      <li><a href="/thread/view/<%= $thread->{_id} %>/<%= $pn + 1 %>">Next&gt;</a></li>
      % }
    </ul>
    % }

    <% my $floor = ($pn - 1) * 30; %>
    <div class="posts" id="posts">
      % for (@posts) {
      <%
      my $post = $_;
      $floor++;
      my $pauthor = $ucoll->find({_id => $post->{author}})->next;
      %>
      <div class="post">
        <div class="author">
          <div class="avatar">
	    % my $email = $pauthor->{email};$email =~ s/^\s+|\s+$//g;
            <img src="http://www.gravatar.com/avatar/<%== md5_hex(lc($email)) %>?size=140"/>
          </div>

          <span><%== $pauthor->{name} %></span>
        </div>

        <div class="post-body">
          <div class="body-header">
            <div class="info">
              <span>No.<%== $floor %> </span><span>posted on <%== $post->{datetime}->strftime("%Y/%m/%d %H:%M:%S") %></span>
            </div>
            <ul class="post-ops">
              <li><a href="javascript:;">Reply</a></li>
            </ul>
          </div>
        
          <div class="post-content">
	    <%= Render::render($post) %>
          </div>
        </div>
      </div>
      % }
          % if ($has_prev or $has_next) {
      <ul class="pager">
	% if ($has_prev) {
	<li><a href="/thread/view/<%= $thread->{_id} %>/<%= $pn - 1 %>">&lt;Prev</a></li>
	% }
	% if ($has_next) {
	<li><a href="/thread/view/<%= $thread->{_id} %>/<%= $pn + 1 %>">Next&gt;</a></li>
	% }
      </ul>
    % }
    </div>
    <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">
    <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
    <script src="/js/jquery-1.11.0.min.js"></script>
    <script src="/js/nav-dropdown.js"></script>
  </body>
</html>
        
